.login-signup-form label,.login-signup-form br{
    display: none;
}
.login-signup-form{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form form{
    width: 350px;
    height:fit-content;
    padding: 5px;
}

.login-signup-form header{
    width: 100%;
    margin: 10px 0;
    height: fit-content;
    text-align: center;
}



.credentials{
    width: 350px;
    height: fit-content;

    display: flex;
    flex-direction: column;
}
.login-signup-email,.login-signup-password,.signup-name{
    width: 350px;
    height: 45px;
    margin-block: 12px;
    font-size: 1.2rem;
    font-weight: 400;
}
.login-signup-form input{
    margin: 0;
    width: 337px;
    height: 100%;
    padding-inline: 5px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    font-size: 1rem;
}
.login-signup-form span{
    color:rgb(25, 25, 220);
    cursor: pointer;
    font-weight: 600;
}
.credentials span{
    align-self:center;
}
.login-signup-btn{
    width: 350px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 5px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.login-signup-btn button{
    width: 100%;
    height: 100%;
}



.login-signup-options{
    width: 100%;
    height:fit-content;
    margin: 5px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}


.login-signup-options hr{
    width: 350px;
    margin: 2px;
}
.login-signup-options button{
    width: 350px;
    height: 45px;
    margin: 2.5px 0;

    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

@media screen and (max-height:600px) {
    .login-signup-form{
        height: 480px;
    }
}

@media screen and (max-width:350px){
    .login-signup-form{
        width: 100%;
        padding-inline:15px ;
    }
    .login-signup-form form,.credentials,.login-signup-options hr,.login-signup-btn,.login-signup-email,.login-signup-password,.signup-name{
        width: 100%;
    }
    .login-signup-form input{
        width: 95%;
    }
}